*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Sour Gummy";
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #aa7995;
}
.cat-box{
    background-color: #9C7CA5;
    height: 800px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.cat-title{
    font-size: 45px;
}
.cat-image{
    max-height: 80%;
    max-width: 80%;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.fact-box{
    max-width: 80%;
    font-size: 20px;
    font-weight: 500;
}
.cat-button {
    margin: 10px 10px;
    font-size: 20px;
    font-weight: 600;
    padding: 0.5em 1em;
    border: 0;
    border-radius: 0.5em;
    background-color: #B19FF9;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.cat-button:hover
{
    background-color: #9d8ddd;
}

@media screen and (max-width: 460px){
.cat-title{
    font-size: 35px;
}
.cat-button{
    font-size: 30px;
}
.cat-image{
    max-height: 60%;
    max-width: 80%;
}
.cat-box{
    height:700px;
}
}
